.container-principal
{
    display: inline block;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7fbfab6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    height: 13vh;
    margin: 0;
    width: 100%;
    display: flex;
    background: linear-gradient( 45deg,#00008B,#6F00FF);
    /* background: linear-gradient( 135deg, #0000ffdc 0%, #284c81 40%, #FF003F 100% ); */
    clip-path: polygon(0 0, 100% 1%, 100% 95%, 64% 100%, 29% 100%, 0 95%);

}

nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    width: 100%;
    list-style-type: none;
    position: relative;
}

nav ul li:hover::after {
    width: 90%;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.8em;
    color: white;
    font-weight: bold;
    filter: drop-shadow(-1px 5px 1px #0e3742bb);
}
input{
    width: 70%;
    height: 90%;
    border-radius: 17px;
    font-size: 1.2em;
    background-color: #fcfcfcf6;
    margin: 5px;
    padding: .7rem 1rem;
    outline: 0;
    border: none;
    box-shadow: 0px 0px 11px #1a1a1a47;
    color: #888585e4;
    letter-spacing: 1px;
}

input::placeholder {
    opacity: .3;
}

@media  screen and (max-width: 767px) {
    nav ul li a {
        font-size: 0.9em;
    }
    input{
        width: 40%;
        font-size: 0.5em;
    }
    img{
        width: 140%;
        margin-top: 5em;
    }
    .introduction h1{
        font-size: 1.5em;
    }
    .navbarre{
        margin:0 ;
    }
}
@media  screen and (min-width: 300px) {
    nav ul li a {
        font-size: 0.9em;
    }
    input{
        width: 40%;
        font-size: 0.5em;
    }
    img{
        width: 140%;
        margin-top: 5em;
    }
    .introduction h1{
        font-size: 1.5em;
    }
    .navbarre{
        margin:0 ;
    }
    h2{
        font-size: 1em;
    }
}
.container_principal
{
    width: 100%;
    height: 220vh;

}
p img{
    width: 10%;

}
p{
    align-items: center;
    justify-content: center;
    display: flex;
}

.tesla{
    background: linear-gradient( 45deg,#EF0107,#00008B,#6F00FF);
    height: 50vh;
    border-radius: 50% 0% 50% 0%;
    justify-content: center;
    display: block;
    transition: 2s;
    animation: anime alternate 5s ease-in both 8;
    clip-path: polygon(6% 0, 100% 0%, 94% 99%, 0% 100%);
}

#imaget{
    width: 35%;
    height: 40vh;
}

.img1-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-top: 1em;
    filter: drop-shadow(-1px 5px 1px #0e3742bb);
    font-size: 4em;
    color: #0000FF;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    margin:0 auto;
    animation: typing 4s steps(60, end), blink-caret .5s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
.ford{
    height: 50vh;
    background: linear-gradient( 45deg,#00008B,#6F00FF,#083908);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}
.contact{
    margin-top: 2em;
    width: 100%;
    height: 20vh;
    background: rgb(119, 111, 111);
    color: white;

}
h1 img{
    width: 20%;
    
}
h4 img{
    width: 5%;
}
.contact .img2-content a img{
    width: 20%;
    border-radius: 15px;
    margin-top: 2em;
}
.img2-content  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
h3{
    text-align: center;
    width: 50%;
}
h2{
    text-align: center;
    align-items: center;
}
.img3-content{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 2px solid blue;
    /* background: linear-gradient( 45deg,#EF0107,#00008B,#6F00FF); */
    background: linear-gradient( 45deg,#00008B,#6F00FF);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}
.About{
    justify-content: center;
    display: inline-block;
    align-items: center;
    text-align: center;
}
.About h1 img{
    border-radius: 25%;
    width: 15%;
}